@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.item{
    padding: 3rem 0rem;
    display: flex;
    align-items: flex-start;
    width: calc(100vw - 20rem);
}
.item .image{
    position: relative;
    width: 50%;
}
.item .image .sale{
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 1rem;
    left: 0;
    top: 0rem;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.item .image img{
    /* margin: 3rem 0rem; */
    width: 100%;
}
.item .des{
    width: calc(50% - 2rem);
    padding: 0rem 2rem;
}
.item .des h2{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
}
.item .des .price{
    display: flex;
    align-items: center;
}
.item .des .price p{
    margin: 0;
}
.item .des .main .price p:first-child{
    position: relative;
    opacity: 0.5;
    padding:  0 0.2rem;
}
.item .des .price p:first-child::after{
    position: absolute;
    content: "";
    bottom: .8rem;
    left: 0;
    width: 100%;
    height: .2rem;
    background-color: black;
    opacity: 0.5;
}

.item .des .price p:nth-child(1),
.item .des .price p:nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
} 
.item .des .main p{
    font-weight: 370;
}
.item .des .main .atc{
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    padding-bottom: 1rem;
}
.item .des .main .atc input{
    width: 2rem;
    height: 2rem;
    padding: 0rem .5rem;
    border: 1px solid rgba(0, 0, 0, 0.297);
}
.item .des .main .atc button{
    height: 2rem;
    margin: 0rem 2rem;
    width: 18rem;
    border: none;
    background-color: var(--main-color);
    font-weight: 600;
    border-radius: 5px;
    color: white;
}
.item .des .main p span{
    text-decoration: underline;
    color: var(--main-color);
}